* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.activities,
.dashboard,
.eventrates,
.locations,
.signout,
.myprofile,
.market,
.virtuallocations {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.activities {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color:black;
  font-size: 100px;
}

.dashboard {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.eventrates {
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color:black;
  font-size: 100px;
}

.locations {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.signout{
  
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.market{
  
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.myprofile {
  
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
.virtuallocations{
  
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}